body {
    background-color: rgba(255, 232, 181, 0.3);
    display: block;
    justify-content: unset !important;
    align-items: unset !important;
    margin: 0 !important;
    height: auto !important;
   }

   .react-datepicker__day--highlighted {
    background-color: #90cdf4 !important; /* Light blue highlight */
    color: white !important;
  }
  
  .react-datepicker__day--highlighted:hover {
    background-color: #63b3ed !important; /* Darker blue on hover */
  }